.section-container {
    width: 60%;
}

.section-heading{
  font-weight: 1000;
  line-height: 1.1;
}

h1 {
	font-size: 30px;
}

.section-paragraph {
  font-size: 18px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: var(--light-color);
  color: var(--main-color);
  border-radius: 20px;
  border: none;
  padding: 8px 12px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

@media (max-width: 800px) {
  .section-container {
    width: 90%;
  }
}