.article-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Inter;
    padding: 4vw 3.2vw;
}

.article{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
    padding: 25px;
    background-color: white;
    border: 1px solid rgba(139, 92, 246, 0.15);
    box-sizing: border-box;
    border-radius: 14px;
    gap: 32px;
}

.article-link{
    color: #7c3aed;
}

.article-tools {
    width: 100%;
    position: relative;
    border-top: 1px solid rgba(139, 92, 246, 0.15);
    border-bottom: 1px solid rgba(139, 92, 246, 0.15);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
    font-size: 16px;
    color: #0a0a0a;
    font-family: Inter;
}

.article-appreciation{
    display: flex;
    flex-direction: row;
    padding: 1.6vw 0vw;
    gap: 8px;
}

.article-comment-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.article-comments{
    width: 100%;
}

.number-comments{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 8px;
}

.comment{
    width: 100%;
  	height: auto;
  	position: relative;
  	border-radius: 10px;
  	background-color: rgba(124, 58, 237, 0.1);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 16px 16px 0px;
  	box-sizing: border-box;
  	gap: 8px;
  	text-align: left;
  	font-size: 14px;
  	font-family: Inter;
}

.comment-info{
  	align-self: stretch;
  	height: 20px;
  	display: flex;
  	align-items: center;
    color: #6b7280;
  	gap: 8px;
}

.comment-author{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
