.article-container{
    width: 100vw;
    min-height: 100vh;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--font);
    padding: 4vw 3.2vw;
}

.article{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
    padding: 50px;
    background-color: var(--block-background-color);
    border: 1px solid rgba(139, 92, 246, 0.15);
    box-sizing: border-box;
    border-radius: 14px;
    gap: 32px;
}

.article-link{
    color:var(--main-color);
}

.article-title, .article-content{
    color: var(--main-text-color);
}

.article-tools {
    width: 100%;
    position: relative;
    border-top: 1px solid rgba(139, 92, 246, 0.15);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
    font-size: var(--small-font);
    color: var(--main-text-color);
    font-family: var(--font);
}

.article-appreciation{
    display: flex;
    flex-direction: row;
    padding: 1.6vw 0vw;
    gap: 8px;
}

.article-comment-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.article-comments{
    width: 100%;
}

.number-comments{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 8px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 800px) {
  .button-label {
    display: none;
  }
}
