.section-container {
    width: 60%;
}

.section-heading{
  font-size: var(--large-font);
  font-weight: 1000;
  line-height: 1.1;
}

h1 {
	font-size: var(--large-font);
}

.section-paragraph {
  font-size: var(--medium-font);
}
@media (max-width: 800px) {
  .section-container {
    width: 90%;
  }
}