.favoris-section {
  	width: 100%;
  	height: auto;
  	background: var(--header-background);
  	border-bottom: 1px solid rgba(139, 92, 246, 0.15);
  	display: flex;
  	align-items: center;
    justify-content: center;
  	padding: 2.5vw 8.672vw 5vw;
  	text-align: center;
  	font-size: 30px;
  	color: var(--header-color);
  	font-family: Inter;
}

.favoris-container {
    width: 70%;
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
    gap: 12px;
}

.favoris-section-heading{
  font-size: 3vw;
  font-weight: 800;
  line-height: 1.1;
}

.favoris-section-paragraph {
  font-size: 1.8vw;
}