.feed-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4vw 3.2vw;
    color: var(--main-text-color);
}

.feed-card {
  background-color: var(--block-background-color);
  border-radius: 14px;
  width: 100%;
  max-width: 800px;
  padding: 24px;
  color: var(--main-text-color);
}

.feed-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.feed-h1{
    font-size: var(--large-font);
    color: var(--main-color);
}