.notes-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-family: var(--font);
    padding: 4vw 3.2vw 0vw;
}

.retour{
    color:var(--main-color);
}

.note-heading {
    font-size: var(--large-font);
    font-weight: normal;
    color: var(--main-text-color);
}

.paragraph, .notes-section-infos{
    color: var(--main-light-text-color);
}

.notes-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 4vw 3.2vw;
    gap: 16px;
}

.notes-section-heading{
    display: grid;
    grid-template-columns: auto min-content;
    align-items: flex-end;
    gap: auto;
}

h1{
    font-size: var(--large-font);
}

.no-resize{
    min-width: 175px;
}

@media (max-width: 800px) {
  .notes-section-heading {
    grid-template-columns: auto;
  }
}
