.notes-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-family: Inter;
    padding: 4vw 3.2vw 0vw;
}

.retour{
    color:var(--main-color);
}

.note-heading {
    font-size: 32px;
    font-weight: normal;
    color: var(--main-text-color);
}

.paragraph, .notes-section-infos{
    color: var(--main-light-text-color);
}

.notes-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 4vw 3.2vw;
    gap: 16px;
}

.notes-section-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: auto;
}