.profile-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 4vw 3.2vw;
}

.profile-card {
  background-color: var(--block-background-color);
  border-radius: 14px;
  max-width: 400px;
  width: 100%;
  padding: 24px;
  color: var(--main-text-color);
}

.profile-icon {
    font-size: 100px;
    color: var(--main-color);
}
