.profile-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vw 3.2vw;
}

.profile-card {
  background-color: var(--block-background-color);
  border-radius: 14px;
  max-width: 400px;
  width: 100%;
  padding: 24px;
  color: var(--main-text-color);
}

.profile-icon {
    font-size: var(--extra-large-font);
    color: var(--main-color);
}

.sign-out{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign-out-btn{
    background-color: var(--occasional-background);
	border: solid 3px var(--main-color);
    color: var(--main-color);
}

.sign-out-btn:focus{
	background-color: var(--occasional-background);
	border: solid 3px var(--main-color);
}
