.feed-form {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    text-align: left;
    font-size: var(--small-font);
}

.feed-field {
    display: flex;
    flex-direction: column;
    gap: 8.5px;
}

.textInput {
  	width: 100%;
  	border-radius: 10px;
  	background-color: var(--main-background-color);
  	border: 1px solid rgba(139, 92, 246, 0.15);
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	padding: 8px 16px;
  	text-align: left;
  	color: var(--main-text-color);
    font-family: var(--font);
    font-size: var(--small-font);
}

.select-options{
    font-family: var(--font);
}

.feed-btn-option {
    align-self: center;
}
