@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  	font-size: 24px;
  	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.header{
	display: flex;
    width: 100%;
    height: 73px;
    padding: 16px 32px 1px 32px;
    background: var(--block-background-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    border-bottom: 1px solid rgba(139, 92, 246, 0.15);
    justify-content: space-between;
}

.extra {
  display: block;
}

.logo-image{
	width: 40px;
	height: 40px;
	content: var(--logo);
}

.logo-title{
	position: relative;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -0.45px;
	line-height: 28px;
	display: inline-block;
	font-family: Inter;
	color: var(--main-text-color);
	text-align: left;
}

a, .header-left, .header-nav, .header-right, nav{
    width: auto;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
	gap: 12px;
}

a, nav{
	text-decoration: none;
}

.button-gaps{
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.active{
    background-color:var(--main-color);
    color: white;
}

/* Quand l'écran devient petit (ex : moins de 600px), on cache certains éléments */
@media (max-width: 1000px) {
  .extra {
    display: none; /* disparaît visuellement mais reste dans le DOM */
  }
}