.note-form {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
    font-size: var(--small-font);
    color: var(--main-text-color);
}

.note-titre, .note-contenu{
    display: flex;
    flex-direction: column;
    gap: 8.5px;
}

.textInput, .textArea {
  	width: 100%;
  	border-radius: 10px;
  	background-color: var(--main-background-color);
  	border: 1px solid var(--border-color);
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	padding: 8px 16px;
  	text-align: left;
  	color: var(--main-text-color);
    font-family: var(--font), sans-serif;
    font-size: var(--small-font);
}

.textArea {
  	flex-shrink: 0;
  	display: flex;
  	align-items: flex-start;
    height: 150px;
}

.btn-option{
    display: block;
}