button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--occasional-background);
    color: var(--main-text-color);
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    font-weight: normal;
    font-size: var(--small-font);
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
    gap: 8px;
}

/* Focus visible pour keyboard users */
.sqr-button:focus {
    background-color:var(--main-color);
    color: var(--main-text-color);
    outline-offset: 2px;
}

.sqr-button:hover {
    background-color: rgba(124, 58, 237, 0.10);
}

.sqr-button-background{
    background-color: var(--other-light-color);
    padding: 0px 16px;
    color: var(--main-text-color);
    height: 40px;
}

.sqr-button-dark-background{
    background-color:var(--main-color);
    color: var(--switched-text-color);
}

.sqr-button-dark-background:hover {
    background-color: rgba(124, 58, 237, 0.10);
    color: var(--main-text-color);
}

